.Article {
    max-width: 80rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a,
    & a:link,
    & a:visited {
        text-decoration: none;
    }

    &__title {
        font-size: 2rem;
        color: #333;
        cursor: pointer;
        transition: all .2s;
    }

    &__title:hover {
        color: #8d8d8d;
    }

    &__date {
        font-size: 1.6rem;
        color: #868686;
    }
}

.Article:not(:last-child) {
    margin-bottom: 2rem;
}